.overlap-bar {
  border: 1px solid #e5e5e5;

  .date-range > div {
    margin: 0 !important;
  }
}

.overlap-bar-container {
  width: 100%;
  margin-left: 20px;
  margin-right: 10px;
}

.friend-container {
  margin-top: 8px;
}
